@use '@coreui/coreui/scss/coreui' as * with (
  $enable-deprecation-messages: false
);
@use '@coreui/chartjs/scss/coreui-chartjs';
@use 'vendors/simplebar';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  --cui-body-font-family: 'Inter', sans-serif;

  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    135deg,
    hsl(30 25% 97%) 0%,
    hsl(150 20% 96%) 50%,
    hsl(30 20% 98%) 100%
  );
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding 0.15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}

.sidebar-nav .nav-link:not(.active):hover {
  background-color: transparent !important;
  color: var(--cui-sidebar-nav-link-color, #212529) !important;
}

.sidebar-nav .nav-link.active {
  font-weight: 700 !important;
}

.button-logout-minimal {
  font-size: 1rem;
  padding: 0;
  background: none !important;
  border: none !important;
}

.sidebar-nav a,
.sidebar-nav a:hover,
.sidebar-nav a:focus {
  text-decoration: none !important;
}

@include color-mode(light) {
  .button-logout-minimal {
    color: #dc3545 !important;
  }

  .sidebar-nav {
    .nav-link.active {
      background-color: #e9ecef !important;
      color: #000 !important;
      font-weight: 700 !important;
    }
  }
}

@include color-mode(dark) {
  .button-logout-minimal {
    color: #ff6b6b !important;
  }

  .sidebar-nav {
    .nav-link.active {
      background-color: rgba(255, 255, 255, 0.1) !important;
      color: #fff !important;
      font-weight: 700 !important;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--cui-body-bg) inset !important;
  -webkit-text-fill-color: #374152 !important;
  box-shadow: 0 0 0 1000px var(--cui-body-bg) inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

inpur[type='password']-webkit-autofill {
  -webkit-text-fill-color: #374152 !important;
}

@include color-mode(dark) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--cui-body-bg) inset !important;
    -webkit-text-fill-color: var(--cui-body-color) !important;
    box-shadow: 0 0 0 1000px var(--cui-body-bg) inset !important;
  }
}
